# 基本数据结构介绍
## Pandas 介绍

在处理实际的金融数据时，一个条数据通常包含了多种类型的数据，例如，股票的代码是字符串，收盘价是浮点型，而成交量是整型等。

在 Python 中，`pandas`包含了高级的数据结构`Series`和`DataFrame`，使得在 Python 中处理数据变得非常方便、快速和简单。

In [30]:
import pandas as pd
print(pd.__version__)

2.2.3

`pandas`主要的两个数据结构是`Series`和`DataFrame`，随后两节将介绍如何由其他类型的数据结构得到这两种数据结构，或者自行创建这两种数据结构，我们先导入它们以及相关模块：

In [2]:
import numpy as np
from pandas import Series, DataFrame

## Pandas数据结构：`Series`

`Series`可以简单地被认为是一维的数组。`Series`和一维数组最主要的区别在于`Series`类型具有索引（`index`），可以和另一个编程中常见的数据结构哈希（`Hash`）联系起来。

### 创建 `Series`

创建一个`Series`的基本格式是 `s = Series(data, index=index, name=name)`

In [7]:
a = np.random.randn(5)
print("a is an array:")
print(a)
s = Series(a)
print("s is a Series:")
print(s)

a is an array:
[-0.15288904 -1.54370324 -0.13882122  0.18071673  0.14327114]
s is a Series:
0   -0.152889
1   -1.543703
2   -0.138821
3    0.180717
4    0.143271
dtype: float64

创建`Series`时添加`index`，`index`长度要和`data`的长度一致

In [8]:
s = Series(a, index=['a', 'b', 'c', 'd', 'e'])
print (s)
print (s.index)

a   -0.152889
b   -1.543703
c   -0.138821
d    0.180717
e    0.143271
dtype: float64
Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

指定`Series`的名称，可用`Series.name`访问

In [9]:
s = Series(a, index=['a', 'b', 'c', 'd', 'e'], name='my_series')
print (s)
print (s.name)

a   -0.152889
b   -1.543703
c   -0.138821
d    0.180717
e    0.143271
Name: my_series, dtype: float64
my_series

`Series`还可以从字典（`dict`）创建

In [12]:
d = {'a': 0., 'b': 1, 'c': 2}
print ("d is a dict:")
print (d)
s = Series(d)
print ("s is a Series:")
print (s)

d is a dict:
{'a': 0.0, 'b': 1, 'c': 2}
s is a Series:
a    0.0
b    1.0
c    2.0
dtype: float64

使用字典创建`Series`时指定`index`的情形（`index`长度不必和字典相同）

- 数据将按`index`的顺序重新排列
- 自动为多余的`index`分配`NaN`

In [14]:
Series(d, index=['b', 'c', 'd', 'a'])

b    1.0
c    2.0
d    NaN
a    0.0
dtype: float64

### `Series`数据的访问

In [22]:
s = Series(np.random.randn(10),index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

print(s.iloc[0]) # 过时的写法 print(s[0])
print(s.iloc[:2]) # 过时的写法 print(s[:2])
print(s.iloc[[2,0,4]]) # 过时的写法 print(s[[2,0,4]])
print(s[['e', 'i']])
print(s[s > 0.5])
print('e' in s)

-1.2138966840433532
a   -1.213897
b    0.564319
dtype: float64
c    0.387988
a   -1.213897
e   -0.232014
dtype: float64
e   -0.232014
i    1.006628
dtype: float64
b    0.564319
i    1.006628
dtype: float64
True

## Pandas数据结构：`DataFrame`

`DataFrame`的优势在于可以方便地处理不同类型的列，因此，就不要考虑如何对一个全是浮点数的`DataFrame`求逆之类的问题了，处理这种问题还是把数据存成`NumPy`的`matrix`类型比较便利一些。

### 创建`DataFrame`

`DataFrame`是一个二维的数据结构，是多个`Series`的集合体。我们先创建一个值是`Series`的字典，并转换为`DataFrame`。

In [23]:
d = {'one': Series([1., 2., 3.], index=['a', 'b', 'c']), 'two': Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = DataFrame(d)
print (df)

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [24]:
df = DataFrame(d, index=['r', 'd', 'a'], columns=['two', 'three'])
print (df)

   two three
r  NaN   NaN
d  4.0   NaN
a  1.0   NaN

In [25]:
print ("DataFrame index:")
print (df.index)
print ("DataFrame columns:")
print (df.columns)
print ("DataFrame values:")
print (df.values)

DataFrame index:
Index(['r', 'd', 'a'], dtype='object')
DataFrame columns:
Index(['two', 'three'], dtype='object')
DataFrame values:
[[nan nan]
 [4.0 nan]
 [1.0 nan]]

`DataFrame`也可以从值是数组的字典创建，但是各个数组的长度需要相同

In [26]:
d = {'one': [1., 2., 3., 4.], 'two': [4., 3., 2., 1.]}
df = DataFrame(d, index=['a', 'b', 'c', 'd'])
print (df)

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

值非数组时，没有这一限制，并且缺失值补成`NaN`

In [27]:
d= [{'a': 1.6, 'b': 2}, {'a': 3, 'b': 6, 'c': 9}]
df = DataFrame(d)
print (df)

     a  b    c
0  1.6  2  NaN
1  3.0  6  9.0

创建一个空的`DataFrame`

In [28]:
df = DataFrame()
print (df)

Empty DataFrame
Columns: []
Index: []

连接的方式创建`DataFrame`的方法十分有用，那就是使用`concat`函数基于`Series`或者`DataFrame`创建一个`DataFrame`

In [31]:
a = Series(range(5))
b = Series(np.linspace(4, 20, 5))
df = pd.concat([a, b], axis=1)
print (df)

   0     1
0  0   4.0
1  1   8.0
2  2  12.0
3  3  16.0
4  4  20.0

其中的`axis=1`表示按列进行合并，`axis=0`表示按行合并，并且，`Series`都处理成一列，所以这里如果选`axis=0`的话，将得到一个`10×1`的`DataFrame`。

下面这个例子展示了如何按行合并`DataFrame`成一个大的`DataFrame`：

In [32]:
df = DataFrame()
index = ['alpha', 'beta', 'gamma', 'delta', 'eta']
for i in range(5):
    a = DataFrame([np.linspace(i, 5*i, 5)], index=[index[i]])
    df = pd.concat([df, a], axis=0)
print (df)

         0    1     2     3     4
alpha  0.0  0.0   0.0   0.0   0.0
beta   1.0  2.0   3.0   4.0   5.0
gamma  2.0  4.0   6.0   8.0  10.0
delta  3.0  6.0   9.0  12.0  15.0
eta    4.0  8.0  12.0  16.0  20.0

### `DataFrame`数据的访问

再强调一下`DataFrame`是以列作为操作的基础的，全部操作都想象成先从`DataFrame`里取一列，再从这个`Series`取元素即可。可以用`dataframe.column_name`选取列，也可以使用`dataframe[]`操作选取列，我们可以马上发现前一种方法只能选取一列，而后一种方法可以选择多列。若`DataFrame`没有列名，`[]`可以使用非负整数，也就是“下标”选取列；若有列名，则必须使用列名选取，另外`dataframe.column_name`在没有列名的时候是无效的。

In [33]:
print(df[1])
print(type(df[1]))
df.columns = ['a', 'b', 'c', 'd', 'e']
print(df['b'])
print(type(df['b']))
print(df.b)
print(type(df.b))
print(df[['a', 'd']])
print(type(df[['a', 'd']]))

alpha    0.0
beta     2.0
gamma    4.0
delta    6.0
eta      8.0
Name: 1, dtype: float64
<class 'pandas.core.series.Series'>
alpha    0.0
beta     2.0
gamma    4.0
delta    6.0
eta      8.0
Name: b, dtype: float64
<class 'pandas.core.series.Series'>
alpha    0.0
beta     2.0
gamma    4.0
delta    6.0
eta      8.0
Name: b, dtype: float64
<class 'pandas.core.series.Series'>
         a     d
alpha  0.0   0.0
beta   1.0   4.0
gamma  2.0   8.0
delta  3.0  12.0
eta    4.0  16.0
<class 'pandas.core.frame.DataFrame'>

单独取一列出来，其数据结构显示的是`Series`，取两列及两列以上的结果仍然是`DataFrame`。访问特定的元素可以如`Series`一样使用下标或者是索引。

In [38]:
print (df['b'].iloc[2]) # 过时写法 print (df['b'][2])
print (df['b']['gamma'])

4.0
4.0

若需要选取行，可以使用`dataframe.iloc`按下标选取，或者使用`dataframe.loc`按索引选取。

In [39]:
print (df.iloc[1])
print (df.loc['beta'])

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: beta, dtype: float64
a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: beta, dtype: float64

选取行还可以使用切片的方式或者是布尔类型的向量

In [40]:
print ("Selecting by slices:")
print (df[1:3])
bool_vec = [True, False, True, True, False]
print ("Selecting by boolean vector:")
print (df[bool_vec])

Selecting by slices:
         a    b    c    d     e
beta   1.0  2.0  3.0  4.0   5.0
gamma  2.0  4.0  6.0  8.0  10.0
Selecting by boolean vector:
         a    b    c     d     e
alpha  0.0  0.0  0.0   0.0   0.0
gamma  2.0  4.0  6.0   8.0  10.0
delta  3.0  6.0  9.0  12.0  15.0

行列组合起来选取数据

In [41]:
print (df[['b', 'd']].iloc[[1, 3]])
print (df.iloc[[1, 3]][['b', 'd']])
print (df[['b', 'd']].loc[['beta', 'delta']])
print (df.loc[['beta', 'delta']][['b', 'd']])

         b     d
beta   2.0   4.0
delta  6.0  12.0
         b     d
beta   2.0   4.0
delta  6.0  12.0
         b     d
beta   2.0   4.0
delta  6.0  12.0
         b     d
beta   2.0   4.0
delta  6.0  12.0

如果不是需要访问特定行列，而只是某个特殊位置的元素的话，`dataframe.at`和`dataframe.iat`是最快的方式，它们分别用于使用索引和下标进行访问

In [42]:
print(df.iat[2, 3])
print(df.at['gamma', 'd'])

8.0
8.0

`dataframe.ix`可以混合使用索引和下标进行访问，唯一需要注意的地方是行列内部需要一致，不可以同时使用索引和标签访问行或者列，不然的话，将会得到意外的结果：

但是报错了：
>'DataFrame' object has no attribute 'ix'

In [43]:
print (df.ix['gamma', 4])
print (df.ix[['delta', 'gamma'], [1, 4]])
print (df.ix[[1, 2], ['b', 'e']])
print ("Unwanted result:")
print (df.ix[['beta', 2], ['b', 'e']])
print (df.ix[[1, 2], ['b', 4]])

AttributeError: 'DataFrame' object has no attribute 'ix'